body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
<<<<<<< HEAD
=======

.navbar-toggler-icon,
.navbar-toggler,
.navbar-toggler-icon:focus{
  outline: none !important;
  border: none !important;
  box-shadow: none !important;

}
>>>>>>> c3e59b53ad1906e05d552ea3a6b6732047e6265d
