@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
*{
  font-family: 'Poppins', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html {
  scroll-behavior: smooth;
}

.text-stroke {
  -webkit-text-stroke-width:.5px;
  -webkit-text-stroke-color: #000;
  text-shadow: -.5px -.5px 0 #000, .5px -.5px 0 #000, -.5px .5px 0 #000, 1px 1px 0 #000;
}

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #a79e9e;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #DC3545;
}

.navbar-toggler-icon,
.navbar-toggler,
.navbar-toggler-icon:focus{
  outline: none !important;
  border: none !important;
  box-shadow: none !important;
} 

.card{
  transition: all 0.2s ease-in-out;
}

.card:hover{
  transform: scale(1.1);
}
